/* ========COMMON======== */
@font-face {
  font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
html {
  font-size: 14px;
  color: #000;
}

a{
  text-decoration: none;
  color: #000;
}

body {
  background: #fff;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  min-width: 320px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

h3 {
  font-family: opensans;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h2{
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
  display: block;
}


/* ================================POPUP==================================*/

.popup{
  display: flex;
/*----------------включение/отключение popup-------------*/
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}

.popup::after{
  content: '';
  background-color: #000 ;
  position: absolute;
  opacity: 0.85;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup_box{
  width: 390px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding: 55px 30px;
  font-family: opensans;
  margin: auto;
}

.popup_close{
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(181, 159, 91, 0.1);
}

.popup_close_text{
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.popup_title{
  text-align: center;
  font-weight: 700;
}

.popup_title::after {
  content: "";
  display: block;
  margin: 14px auto 0;
  width: 65px;
  border-bottom: 3px solid #8c7e55;
  margin-bottom: 25px;

}
.popup_content{
  display: flex;
  flex-direction: column;
}

.form_select{
  width: 100%;
}

.form_visits{
  display: block;
}

.form_visits_label{
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  text-transform: none;
}

.select_visits{
  box-sizing: border-box;
  width: 100%;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-color: #f4f7f6;
  background-size: 12px;
  background-position: right 15px center;
  display: block;
  box-sizing: border-box;
  height: 48px;
  padding-left: 20px;
  margin: 0;
  border: none;
  font-size: 14px;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-subscribe{
  margin-top: 33px;
}

.form-hint{
  display: block;
  text-transform: none;
  margin-top: 20px;
}

.radio-group{
  margin-top: 5px;
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n+2){
  margin-left: 15px;
}

.radio{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.radio:checked ~ .radio-group-text::before{
  background-image: url(../svg/form-circle.svg);
}

.radio-group-text{
  text-transform: none;
}

.radio-group-text::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 20px;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.form_content_ask{
  display: block;
  margin-top: 33px;
}

.form-ask{
  text-transform: none;
}

.field_textarea{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  min-height: 130px;
  max-height: 200px;
  background-color: #f4f7f6;
  margin-top: 10px;
  font-family: opensans;
  padding: 10px;
  resize: none;
}

.form-sent{
  width: 100%;
}

.button_popup{
  display: block;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 20px;
  background-color: #b59f5b;
  margin-top: 25px;
}


/* ================================HEADER==================================*/

@media (min-width: 1200px) {
.header {
  background-image: url(../images/banner-bg.jpg);
  }
 
.header_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 15px;
  }

.header_up{
  display: flex;
  width: 100%;
  justify-content: space-between;
  }

.logo {
  width: 15%;
  }

.header-menu{
  display: flex;
  justify-content: flex-end;
  }

.header_menu_burger{
  display: none;
  }
 
.header-menu-list {
  display: flex;
  align-items: center;
  }
  
.intro{
  margin: 0 auto;
  margin-top: 125px;
  max-width: 702px;
  font-size: 45px;
  line-height: 1.35;
  }

  .header{
    padding-bottom: 125px;
  }
}


@media (min-width: 641px) and (max-width: 1199px){
.header{
  background-image: url(../images/banner-bg-tablet.jpg);
  width: 100%;
  }

.header_container{
  max-width: 768px;
  padding: 42px 3% 0 3%;
  }

.header_up{
  width: 100%;
  display: flex;
  align-content: space-between;
  }

.logo{
  width: 22.63%;
  }

.header-menu{
  width: 77.27%;
  display: flex;
  justify-content: flex-end;
  }

.header_menu_burger{
  width: 23px;
  }

#menu__toggle{
  opacity: 0;
  }

.menu__btn {
  display: flex; 
  width: 23px;
  height: 20px;
  cursor: pointer;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #fff;
  }

.menu__btn > span::before {
  content: '';
  top: -9px;
  }

.menu__btn > span::after {
  content: '';
  top: 9px;
  }

.header-menu-list{
  display: none;
  }

.intro {
  box-sizing: border-box;
  width: 100%;
  margin-top: 102px;
  margin-bottom: 0;
  min-width: 676px;
  line-height: 1.35;
  font-size: 40px;
  }

  .header{
    padding-bottom: 102px;
  }

} 

@media (max-width: 640px){
.header{
  background-image: url(../images/banner-mobile.jpg);
  width: 100%;
  padding-bottom: 218px;
  }

.header_container{
  max-width: 360px;
  padding: 30px 4% 0 4%;
  }

.header_up{
  display: flex;
  flex-direction: column-reverse;
  }
  
.header-menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  order: 1;
  }

.header_menu_burger{
  width: 23px;
  }

#menu__toggle{
  opacity: 0;
  }

.menu__btn {
  display: flex; 
  width: 23px;
  height: 20px;
  cursor: pointer;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #fff;
  }

.menu__btn > span::before {
  content: '';
  top: -9px;
  }
.menu__btn > span::after {
  content: '';
  top: 9px;
  }

.logo{
  order:0;
  width: 268px;
  margin: 0 auto;
  margin-top: 172px;
  margin-bottom: 40px;
  }

.header-menu-list{
  display: none;
  } 

.intro {
  width: 100%;
  margin-top: 42px;
  
  font-size: 26px;
  order: 2;
  margin: 0 auto;
  }

.header_menu_burger{
  display: block;
  height: 22px;
  margin-left: auto;
  }
}

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  }

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.header_container {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.container{
  margin: 0 auto;
  font-family: opensans;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.header-menu-list-items{
  margin-right: 40px;
}

.header-menu-list-items:last-child{
  margin-right: 0;
}

.header-menu-link {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.header-menu-link:hover {
  text-decoration: underline;
}

.intro {
  text-align: center;
}



/* ===============================TRENDS====================================*/

.trends_container{
  flex-direction: column;
  align-items: center;
  font-family: opensans;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  }

.trends_title{
  color: #000000;
  margin-top: 50px;
  text-align: center;
}

.trends_title::after {
  content: "";
  display: block;
  margin: 14px auto;
  width: 65px;
  border-bottom: 3px solid #8c7e55;
  margin-bottom: 25px;
}

@media (min-width: 1200px){
.trend_card{
  width: 24.28%;
  }

.trend_card:nth-child(1n+2){
  margin-left: 0.24%;
  }
}

@media(min-width: 641px) and (max-width: 1199px){
.trends_cards_list{
  flex-wrap: wrap;
  }

.trend_card{
  width: calc((100% - 0.5%) / 2);
  }

.trend_card:nth-child(2n+2) {
  margin-left: 0.5%;
  }

.trend_card:nth-child(1n+3){
  margin-top: 5px;
  }
}

@media (max-width: 640px) and (orientation: portrait;){
.trends_cards_list{
  display: flex;
  flex-wrap: wrap;
  }

.trend_card{
  min-width: 49%;
  }

.trend_card:nth-child(2n+2) {
  margin-left: 0.5%;
  }

.trend_card:nth-child(1n+3){
  margin-top: 5px;
  }
}

@media (max-width: 640px){

.trend_card{
  min-width: 100%;
  }

.trend_card:nth-child(1n+2) {
  margin-top: 5px;
  }
}

.trends_cards_list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.trend_card{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 15px 20px;
  height: 320px;
}

.trend_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 2;
}

.card_1{
  background-image: url(../images/trend1.jpg);
}

.card_2{
  background-image: url(../images/trend2.jpg);
}

.card_3{
  background-image: url(../images/trend3.jpg);
}

.card_4{
  background-image: url(../images/trend4.jpg);
}

.wrapper_card_content{
 border: 3px solid #a88f54;
 z-index: 3;
 display: flex;
 flex-direction: column;
 padding: 20px
}

.trends_category_list{
  display: flex;
  z-index: 3;
  color: #ffffff;
}

.category_tag_item{
  margin-right: 20px;
  font-weight: 900;
}

.category_tag_item:last-child{
  margin-right: 0;
}

.category_tag_link{
  color: #b4a05b;
  z-index: 3;
}

@media (min-width: 1200px){
.content_title{
  font-size: 20px;
  }
}

@media (min-width: 641px) and (max-width: 1199px){
.content_title{
  font-size: 17px;
  }
}

@media (max-width: 640px){
.content_title{
  font-size: 16px;
  }
}


.trends_content_title {
  color: #fff;
  margin: 0;
  font-weight: 700;
  
  }

.trends_content_title:hover{
  color: #b4a05b;
}

.category_tag_link:hover{
  text-decoration: underline;
}

//* ================================PAGE================================== */


.post:last-child {
  margin-bottom: 0;
}

.img-post {
  display: block;
  margin-right: 4%;
  width: 54%;
}

.content-categories-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.content-posts-block-title {
  color: #000000;
  font-size: 20px;
}

.content-posts-block-card-date {
  color: #888888;
  font-size: 12px;
}

.content-author {
  color: #000000;
  font-size: 12px;
  margin-left: 5px;
  text-transform: none; 
}

.post-text {
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-transform: none; 
}

@media(min-width: 1200px) {
.page {
  max-width: 1200px;
  padding: 64px 15px;
  margin:0 auto;
  display: flex;
}
.page-main{
  width: 66.5%;
  max-width: 780px;
  margin-right: 10%;
  }

  .sidebar{
  width: 23.5%;
  max-width: 275px;
  }

.post {
  display: flex;
  margin-bottom: 60px;
}
}

@media (min-width: 641px) and (max-width: 1199px){
.page {
  display: flex;
  max-width: 768px;
  box-sizing: border-box;
  padding: 50px 35px;
  margin:0 auto;
  
}

.page-main{
  width: 56.16%;
  max-width: 392px;
  margin-right: 4.88%;
  }

.post {
  flex-direction: column;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
  }

.post:last-child {
  margin-bottom: 0; 
  }

.img-post {
  display: flex;
  width: 100%;
  }

.sidebar{
  width: 38.96%;
  max-width: 272px;
  } 
}

@media (max-width: 640px){
.page{
  max-width: 360px;
  padding: 45px 15px;
  box-sizing: border-box;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post {
  flex-direction: column;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 35px; 
  }

.post:last-child {
  margin-bottom: 0; 
  }

.img-post {
  display: flex;
  width: 100%;
  }

.page-main{
  margin-bottom: 35px;
  }
}

.page {
  box-sizing: border-box;
  width: 100%;
  margin:0 auto;
  font-family: opensans;
  text-transform: uppercase;
  }

.content_title{
  font-weight: bold;
  color: #000;
}


/* -----------------------------------------PAGE-SIDEBAR----------------------------------------- */


.sidebar{
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
}

.latest-posts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title::after {
  content: "";
  display: block;
  margin: 14px auto 0;
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
}

.latest-post-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.latest-post {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.latest-post-img {
  box-sizing: border-box;
  width: 70px;
  overflow: hidden;
  margin-right: 7%;
}

.latest_post_box{
width: 67%;
}

  

.latest-posts-block-card-date {
  font-weight: 400;
  color: #888888;
  font-size: 12px;
}

.latest-content-post-title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.latest-content-post-title:hover {
  text-decoration: underline;
}



/* ==========================================PAGE-SEARCH===================================== */


.search {
  display: flex;
  margin: 60px 0;
  width: 100%;
}

@media (max-width: 640px){
  .search {
    margin: 45px 0;
  }
}

.search-label{
  width: 83%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding: 0 18px;
  font-weight: 400;
  color: #939594;
}

.button-search {
  box-sizing: border-box;
  border: none;
  width: 17%;
  height: 48px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  background-color: #b59f5b;
}
.button-search:hover {
  background-color: #323232;
}


/* =====================================PAGE-SUBSCRIBE=============================== */

.subscribe {
  width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 640px){
.subscribe {
  margin-bottom: 45px;
  }
}

.subscribe-form {
  width: 100%;
}

.subscribe-label{
  width: 275px;
}

.field-subscribe {
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding: 0 18px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  color: #939594;
}

.button-subscribe {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  padding: 0;
  margin-top: 16px;
}

.button-subscribe:hover {
  background-color: #323232;
}

/* ========PAGE-TAGS======== */

.tags {
  display: block;
  width: 100%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 23px;
  margin-bottom: 0;
}

.tag-item {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 3px;
  margin-top: 10px;
  padding: 8px 13px;
  border: 2px solid #eeeeee;
}

.tag-link{
  font-weight: 500;
}

.tag-link:hover{
  font-weight: bolder;
}

/* =========================PAGE-CATEGORIES============================== */

.categories {
  margin-top: 60px;
  width: 100%;
}
@media (max-width: 640px){
.categories {
  margin-top: 45px;
  }
}

.categories-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.categories-list-item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
  padding: 10px 0;
}

.categories-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14px;
  color: #000;
}

.categories-link:hover{
  color: #b59f5b
}

.categories-link-items{
  font-weight: 700;
  text-transform: initial;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;
  align-self: center;
}

/*=============================SHOP==================================================*/

.shop_container{
  margin: 0 auto;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  font-family: opensans;
}

.wrapper_shop {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 65px;
}

.title_shoper{
  margin: 0;
}

.title_shoper::after {
  content: "";
  display: block;
  margin: 14px auto ;
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-bottom: 25px;
}

.products_list{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px){
.shop_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  }

.products_list{
  width: 100%;
  }

.product_list_item{
  width: 30%;
  }

.product_list_item:nth-child(1n+2){
  margin-left: 5%;
  }
}

@media (min-width: 641px) and (max-width: 1199px){
.shop_container{
  width: 100%;
  max-width: 768px;
  padding: 0 35px;
  box-sizing: border-box;

}
.container_products_list{
  width: 100%;
}
.products_list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }

.product_list_item{
  width: calc((100% - 3.15%) / 2);
  }

.product_list_item:nth-child(2n+2){
  margin-left: 3.15%;
  }
}
@media (max-width: 640px){
  .shop_container{
    box-sizing: border-box;
    max-width: 360px;
    padding: 0 15px;
  }
} 

.card_product{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relativ;
  justify-content: space-between;
}

.product_item{
  z-index: 2;
  top:0;
}

.product_image{
  margin: 0 auto;
} 

.border_product_description{
  border: 3px solid #a88f54;
  padding: 30px;
  position: relative;
  z-index: 3;
  top: -30px;
  bottom: 0;
  height: 75%;
}

.product_description p{
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

.shop_link{
  font-weight: 400;
  color: #a88f54;
  font-size: 15px;
  }

.shop_link:hover{
  text-decoration: underline;
}

.product__footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product__prices{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
} 

.product__price{
  display: flex;
  font-size: 14px;
}

.product__price_old{
  text-decoration: line-through;
  font-size: 14px;
} 


.product__price-value{
  font-size: 20px;
  font-weight: 700;
  color: #222;
  display: flex;
}

 
.product__button{
  width: 50%;
  height: 50px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 15px;
  margin: auto;
  font-weight: 700;
  cursor: pointer;
} 

.product__button:hover{
background-color: #323232;
}

/* =========================================FOOTER====================================== */

.footer-content {
  font-family: opensans;
  display: block;
}

.footer-content-wraper{
  margin:  0 auto;
}

/* =======================================FOOTER-SOCIALS================================= */



.socials {
  width: 100%;
  height: 25px;
  background-color: #eeeeee;
  padding: 28px 0;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  width: 30.5%;
  padding: 0;
  margin: 0 auto;
}

.socials-list-item {
  display: block;
  width: calc((100% - 60px) / 5 );
}

.socials-list-item:not(:first-child) {
  margin-left: 4%;
}

.socials-icon {
  display: block;
  width: 100%;
  height: 25px;
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
.footer-content-wraper{
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  }
}

@media (min-width: 641px) and (max-width: 1199px){
.footer-content-wraper{
  max-width: 698px;
  display: flex;
  flex-wrap: wrap;
  }
}

@media (max-width: 640px){
  .footer-content-wraper{
    max-width: 360px;
    padding: 0 15px;
  }
  .socials-list{
    width: 100%;
  }
}

.social-icon-tw{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icon-pt{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon-fb{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-icon-ig{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icon-tr{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}


/* ================================COPYRIGHT========================================= */

.copyright {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-top: 45px;
}

.copyrighy-description {
  color: #999999;
  text-align: center;
}
